/* logoutScreen.css */

.logout-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #EBF2F1; /* Set the background color */
  }
  
  .logout-screen img {
    width: 80%; /* Adjust the logo size as needed */
    max-width: 350px; /* Maximum width for larger screens */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px;
  }
  
  .logout-screen p {
    font-size: 28px;
    color: #333333; /* Set the text color */
    margin: 0;
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    .logout-screen img {
      width: 70%;
    }
  
    .logout-screen p {
      font-size: 24px;
    }
  }
  
  
  